# The database URL for your Neon Postgres database
# Example: postgresql://username:password@ep-cool-darkness-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=postgresql://user:password@localhost:5432/QuestMine?sslmode=disable

# The port the backend will run on
PORT=5000
CLERK_WEBHOOK_SECRET=whsec_your_actual_secret
CLERK_SECRET_KEY=clerk_your_actual_secret_key
